.lgn-btn {
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 00;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }


.exit-button-div{
  align-items: center;
  justify-content: center;
  display: flex;
}
.exit-button {
  font-size: 30px;
  letter-spacing: 7px;
  margin-top: 35px;
}
  
 .lgn-btn:focus:after,
 button:hover:after {
    width: 100%;
    left: 0%;
  }
  
 .lgn-btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #5d686b;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }